{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
      <h4 class="">Настройки</h4>
        <form method="POST" action=""> {% csrf_token %}

            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
        </form>
      <form method="POST" action="{% url 'accounts:delete' %}"> {% csrf_token %}
            <button type="submit" class="btn btn-danger ">Удалить</button>
        </form>
    </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
      <p class="my-3">Если у Вас есть пожелания по добавлению города и языка
                    программирования, свяжитесь с нами: </p>
        <form method="POST" action="{% url 'accounts:contact' %}"> {% csrf_token %}

            <div class="mb-3">
                {{ contact_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary mb-3">Отправить</button>
        </form>
    </div>
</div>

{% endblock %}


