{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="row">
      <div class="col-md-6 mx-auto">
          <h4 class="">Регистрация нового пользователя</h4>
            <form method="POST" action=""> {% csrf_token %}

                <div class="row">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary mb-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>

{% endblock %}


