{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 mx-auto">
        <h2>Сервис сбора вакансий</h2>
    </div>
</div>
  <div class="row">
      <div class="col-md-6 mx-auto">

    <form action="{% url 'list' %}">
        <h4 class="mx-5">Для просмотра вакансий заполните форму</h4>
                <div class="row">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary mb-3">Найти</button>
            </form>
        </div>
    </div>

{% endblock %}


